<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>New Post</title>
    <th:block th:replace = "admin/common/head::head-fragment"></th:block>
</head>
<body>
<div th:replace="admin/common/navbar::navbar('create_post')"></div>
<div class="container">
    <br/>
    <br/>
    <div class="card">
        <form method="post" th:action="@{/admin/post/save-post}" th:object = "${post}">
            <div class="form-group card-body">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" maxlength="255"
                       placeholder="Enter Title" name="title" th:field="*{title}"/>
                <p th:if="${#fields.hasErrors('title')}" class="text-danger"
                   th:errors="*{title}"></p>
            </div>
            <div class="form-group card-body">
                <label for="shortDescription">Short Description</label>
                <input type="text" class="form-control" id="shortDescription" maxlength="255"
                       placeholder="Enter Short Description" name="shortDescription" th:field="*{shortDescription}"/>
                <p th:if="${#fields.hasErrors('shortDescription')}" class="text-danger"
                   th:errors="*{shortDescription}"></p>
            </div>
            <div class="form-group card-body">
                <label for = "content">Content</label>
                <textarea class="form-control" id="content" rows="10" name="content" th:field="*{content}"></textarea>
                <p th:if="${#fields.hasErrors('content')}" class="text-danger"
                   th:errors="*{content}"></p>
            </div>
            <div class="form-group card-body">
                <button type="submit" class="btn btn-primary cardbody">Submit</button>
            </div>
        </form>
    </div>
</div>
<br/>
<div th:replace="admin/common/footer::footerWithScripts"></div>
<script>
    tinymce.init({
        selector: '#content',
        codesample_global_prismjs: true,
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect codesample',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat | codesample',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ]
    });
</script>
</body>
</html>