<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${post.title}"></title>
    <th:block th:replace = "blog/common/head::head-fragment"></th:block>
</head>
<body>
<div th:replace="blog/common/navbar :: navbar('view_post')"></div>
<header style="background-color: #2f353a;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="text-light">
                    <h1 th:text="${post.title}">Post title</h1>
                    <p class="fs-5" th:text="${post.shortDescription}">Post short description</p>
                    <p class="post-meta fw-light fst-italic text-secondary"> Posted by
                        <a href="#" class=" text-decoration-none text-light" th:text = "#{app.admin.name}">Admin</a>
                        on <th:block th:text="${#temporals.format(post.createdOn,'dd-MMM-yyy')}"></th:block>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<article class="my-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" th:utext = "${post.content}">
            </div>
        </div>
    </div>
</article>
<!--Comment-->
<section>
    <div class="container">
        <h1>Comments</h1>
        <hr>
        <div class="row justify-content-center">
            <div class="col-sm-5 col-md-6 col-12 pb-4" th:if="${comments.size()>0}">
                <div class="comment mt-4 text-justify float-left" th:each="c:${comments}">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4 th:text="${c.name}">user name who commented</h4>
                    <i><small th:text="${#temporals.format(c.createdOn,'dd-MMM-yyy')}">comment date</small></i>
                    <br>
                    <p th:text="${c.content}"></p>
                </div>
            </div>
            <div class="col-sm-5 col-md-6 col-12 pb-4" th:if="${comments.size()<=0}">
                <h2>No comments...</h2>
                <p><i>Be first to comment!</i></p>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 my-4">
                <h4>Leave a comment</h4>
                <form class="card p-2" th:action = "@{/comments/{postUrl}(postUrl = ${post.url})}" method="post" th:object="${comment}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" th:field="*{name}">
                        <p th:if="${#fields.hasErrors('name')}" class="text-danger"
                           th:errors="*{name}"></p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-control" th:field="*{email}">
                        <p th:if="${#fields.hasErrors('email')}" class="text-danger"
                           th:errors="*{email}"></p>

                    </div>
                    <div class="form-group">
                        <label for="msg">Message</label>
                        <textarea name="content" id="msg" cols="30" rows="5" class="form-control" th:field="*{content}"></textarea>
                        <p th:if="${#fields.hasErrors('content')}" class="text-danger"
                           th:errors="*{content}"></p>

                    </div>
                    <div class="form-group d-flex justify-content-center m-4">
                        <button type="submit" id="post" class="btn btn-dark">Post Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div th:replace="blog/common/footer :: footerWithScripts"></div>
</body>
</html>
